.big-button{
  background: $blue;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: 2.4rem;
  width: 100%;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */

.sidenav {
  height: 100%;
  width: 25rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $skyblue;
  overflow-x: hidden;
  color:$dark-grey;
  button{
    color: $beige;
    padding: 16px;
    text-decoration: none;
    display: block;
    background-color: $dark-grey;
    &:hover {
      background-color: $blue;
      color: black;
    }

  }
}
  .content {
    margin-left: 18.5rem;
    padding-left: 20px;
    color: $beige;
    position: absolute;

}

.big-button:disabled{
  opacity: .5;
}

//button
.button{
  width: 12rem;
  background: $purple;
  border: none;
  margin-left: 1rem;
  border-buttom: .3rem solid darken($purple, 10%);
  font-weight: 500;
  padding: $s-size;
}
.button-modal{
  width: 12rem;
  background: $purple;
  border: none;
  margin-left: 1rem;
  border-buttom: .3rem solid darken($purple, 10%);
  font-weight: 500;
  opacity: 0.5;
  color:black;
  padding: $s-size;
}

.button--link{
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}
.submit{
  background-color: $azul;
}
