#myProgress{
  max-width: 55rem;
  width: 100%;
  background-color: grey;
  margin-left: 1rem;

}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
    font-size: $l-size;
    text-align:justify;
    color: white;

}
